.footer{
    width: 100vw;
    height: 4rem;
    background: rgb(40, 40, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
}
@media (min-width: 425px) and (max-width: 767px){
    .footer{
        width: 102vw;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .footer{
        width: 110vw;
    }
}